<section class="fullimg justify-content-center align-items-center p-5">
  <div class="container loginpage vh-100 d-flex align-items-center justify-content-center">
    <div class="row justify-content-center align-items-center">
      <div class="col col-l-10" id="cont">
        <div class="card text-center" style="border-radius: 1rem; max-width: 400px; max-height: 600px; background-color: transparent; opacity: 0.8; backdrop-filter: blur(5px); border: none;">
          <div class="card-body d-flex flex-column align-items-center justify-content-center p-5 p-lg-6 text-black">
            <!-- Rest of the card content -->
            <form>
              <div class="mb-3 pb-1">
                <img src="assets\Delivery.png" style="width: 100px; margin-right: 0px;" class="rounded-circle" alt="logo">
              </div>
              
              <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;" style="color:white;">Sign in to your account</h5>
              <div class="form-outline mb-5">
                <input type="email" id="form2Example17" class="form-control form-control-lg" placeholder="Email">
              </div>
              <div class="form-outline mb-4">
                <input type="password" id="form2Example27" class="form-control form-control-lg" placeholder="Password">
              </div>
              <div class="pt-1 mb-4">
                <button class="btn btn-dark btn-lg btn-block" type="button" routerLink="/home">Login</button>
              </div>
              
              <p class="mb-5 pb-lg-2" style="color: white;">Don't have an account? <a href="#!" style="color:white;" routerLink="/registration">Register here</a></p>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>