<app-nav></app-nav>
<div class="container-fluid">

    <div class="row">

      <div

        class="col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center align-items-center full-page img-dash"

      >

      <button type="button" class="btn btn-warning btn-lg" routerLink="/view-page">View Parcel</button>

      <button type="button" class="btn btn-warning btn-lg" routerLink="/search-page">Search Parcel</button>

      <button type="button" class="btn btn-warning btn-lg">Tracking</button>




  </div>

    </div>

  </div>         