<app-nav>
  
</app-nav>

<div class="parcel-booking vh-100 d-flex align-items-center">
  <div class="container package">
    <div class="row ">
      <div class="col-lg-7 mx-auto text-center">
     
              <div class="" style="background-color: transparent; border: none; width: 800px; height: 300px; ">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                  <h2 class="dsiplay-7  font-weight-bold" style="color:white"> Welcome to Our Parcel Delivery Services</h2>
                  <p class="font-weight-bold " style="font-size: 20px; letter-spacing: 2px; color:white">
                    Reliable and efficient parcel delivery solutions at your doorstep.
                  </p>
                  
           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>


